<div class="flex h-screen items-center justify-center">
  <div>
    <h1 class="text-center font-medium text-4xl mb-5">{{status}}</h1>
    <p class="text-xl">{{text}}</p>
    <a class="text-xs text-blue-600 text-center block mt-16" href="./chats.hbs">Назад к чатам</a>
  </div>
</div>