{{!< base}} 

<ul>
  <li>
    <a href="./auth.hbs">Auth</a>
  </li>
  <li>
    <a href="./register.hbs">Register</a>
  </li>
  <li>
    <a href="./chats.hbs">Chats</a>
  </li>
  <li>
    <a href="./404.hbs">404</a>
  </li>
  <li>
    <a href="./500.hbs">500</a>
  </li>
  <li>
    <a href="./settings.hbs">Settins</a>
  </li>
</ul>